.add-button,
.delete-button,
.edit-button {
  appearance: none;
  background-color: transparent;
  padding-left: 20px;
  display: flex;
  align-items: center;
  border: none;
  font-size: 17px;
  width: auto !important;
  font-weight: 400;

  @media (min-width: 500px) {
    font-size: 14px;
  }
}

.add-button {
  //color: #3f80ea;
  color: #0e7afe;
  cursor: pointer;
}

.delete-button {
  color: #f73d52;
  cursor: pointer;
}

.edit-button {
  color: #f26522;
  cursor: pointer;
}

.back {
  cursor: pointer;
  font-size: 17px;

  @media (min-width: 500px) {
    font-size: 14px;
  }
}

.add-large-button {
}
